@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Black.ttf');
  font-weight: 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*
--------------
HTML
--------------
*/

html {
  --color-blue-light: #005faf;
  --color-blue-dark: #0a356d;
  --color-blue-middle: #084281;
  --color-orange-dark: #ff8008;
  --color-orange-light: #ffc837;
  --color-lightblue-dark: #e2ebf3;
  --color-lightblue-light: #ffffff;
  --color-white: #ffffff;
  --color-lightblue: #cad8e4;
  --color-green: #00aa6c;
  --color-grey: #666666;
  --color-black: #222222;
  --color-red: #ec1c24;

  --color-gradient-blue: linear-gradient(
    92deg,
    var(--color-blue-light) -96.95%,
    var(--color-blue-dark) 158.18%
  );
  --color-gradient-orange: linear-gradient(
    93deg,
    var(--color-orange-dark) -3.2%,
    var(--color-orange-light) 157.16%
  );
  --color-gradient-lightblue: linear-gradient(
    90deg,
    rgba(226, 235, 243, 1) 0%,
    rgba(226, 235, 243, 0.31) 100%
  );

  --panel-shadow: 0px 0.1rem 2.8rem 0px rgba(161, 195, 224, 0.25);
  --orange-shadow: 0px 0.4rem 2.8rem 0px rgba(255, 128, 8, 0.56);
  --search-panel-height: 8rem;
  --header-top-height: 4rem;
  --header-bottom-height: var(--search-panel-height);
  --header-height: calc(var(--header-top-height) + var(--header-bottom-height));
  --screen-padding: 4.9rem;
  --header-border-radius: 0rem;
  --section-margin-bottom: 20rem;
  --scrollbar-width: 0.8rem;

  --clip-left-hidden: polygon(0 0, 0 0, 0 100%, 0% 100%);
  --clip-left-shown: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  --clip-top-hidden: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-top-shown: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  --clip-bottom-hidden: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  --clip-bottom-shown: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  --header-z: 100;

  font-size: calc(100vw / 1920 * 10);
}

@media (max-width: 1280px) {
  html {
    --search-panel-height: 5.6rem;
    --header-top-height: 3.2rem;

    --screen-padding: 2.5rem;
    --section-margin-bottom: 10rem;
    --scrollbar-width: 0rem;

    font-size: calc(100vw / 768 * 10);
  }
}

@media (max-width: 600px) {
  html {
    --section-margin-bottom: 8rem;
    --screen-padding: 1.6rem;
    --header-border-radius: 1.2rem;

    --search-panel-height: max-content;
    --header-bottom-height: 0rem;
    --header-top-height: 4rem;

    font-size: calc(100vw / 375 * 10);
  }
}

/*
--------------
TAGS
--------------
*/

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-black);
}

.grabbing body {
  cursor: grabbing;
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

@media (min-width: 1281px) {
  .app::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  .app::-webkit-scrollbar-track {
    background: var(--color-lightblue-dark);
  }

  .app::-webkit-scrollbar-thumb {
    background: var(--color-blue-middle);
  }
}

@media (max-width: 1280px) {
  .app {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .app::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
}

a,
button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  text-wrap: pretty;
}

ul,
ol {
  list-style-position: inside;
}

input,
input::placeholder {
  font-family: inherit;
  font-size: inherit;
}

/*
--------------
HIDDEN
--------------
*/

.visually-hidden {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

/*
--------------
SLICER
--------------
*/

.sliced-button .word {
  display: inline-flex;
}

.sliced-button .letter {
  position: relative;
  display: inline-flex;
  overflow: hidden;
}

.loaded .sliced-button .letter .original,
.loaded .sliced-button .letter .clone {
  transition: transform 0.2s calc(var(--letter-index) * 0.012s);
}

.sliced-button .letter .clone {
  position: absolute;
  transform: translateY(100%);
}

@media (min-width: 1281px) {
  button:hover .sliced-button .letter .original,
  a:hover .sliced-button .letter .original {
    transform: translateY(-100%);
  }

  button:hover .sliced-button .letter .clone,
  a:hover .sliced-button .letter .clone {
    transform: translateY(0);
  }
}

/*
--------------
GRADIENT BUTTON
--------------
*/

.gradient-button {
  background-size: 150%;
}

.loaded .gradient-button {
  transition: background-position 0.3s;
}

@media (min-width: 1281px) {
  .gradient-button:hover {
    background-position: 100%;
  }
}

/*
--------------
HIDDEN SCROLLBAR
--------------
*/

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/*
--------------
DATA
--------------
*/

[data-only-tablet='true'] {
  display: none;
}

@media (max-width: 1280px) {
  [data-only-tablet='true'] {
    display: block;
  }
}

@media (max-width: 600px) {
  [data-only-tablet='true'] {
    display: none;
  }
}

/*
--------------
SECTION HEADING
--------------
*/

.section-heading {
  font-size: 6.4rem;
  font-weight: 800;

  color: var(--color-blue-middle);
}

@media (max-width: 1280px) {
  .section-heading {
    font-size: 3.2rem;
  }
}

@media (max-width: 600px) {
  .section-heading {
    font-size: 2.4rem;
  }
}

/*
--------------
SECTION HEADING SMALL
--------------
*/

.section-heading-small {
  font-size: 3.6rem;
  font-weight: 700;

  color: var(--color-blue-middle);
}

@media (max-width: 1280px) {
  .section-heading-small {
    font-size: 2.8rem;
  }
}

@media (max-width: 600px) {
  .section-heading-small {
    font-size: 1.8rem;
  }
}

/*
--------------
BRUSH TEXT
--------------
*/

.brush-text {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.brush-text::before {
  content: '';
  position: absolute;

  z-index: -1;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transform: scale(var(--stroke-scale-x, 1), var(--stroke-scale-y, 1));
}

.brush-text[data-stroke='white']::before {
  background-image: url('/assets/images/details/stroke-white.png');
}

.brush-text[data-stroke='orange']::before {
  background-image: url('/assets/images/details/stroke-orange.png');
}

@media (min-width: 1281px) {
  .brush-text::before {
    clip-path: var(--clip-left-hidden);
  }

  .shown .brush-text::before,
  .shown.brush-text::before {
    transition: clip-path 1s;
    clip-path: var(--clip-left-shown);
  }
}

/*
--------------
Search Panel
--------------
*/

tour-search-panel:not([modal='true']) {
  display: block;
  height: var(--search-panel-height);
}

@media (max-width: 600px) {
  tour-search-panel:not([modal='true']) {
    min-height: 48.1rem;
  }
}

/*
--------------
Keyframes
--------------
*/

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  15% {
    transform: scale(1.03);
  }

  20% {
    transform: scale(1.03) rotate(-3deg);
  }

  25% {
    transform: scale(1.03) rotate(3deg);
  }

  30% {
    transform: scale(1.03) rotate(-2deg);
  }

  35% {
    transform: scale(1.03) rotate(1deg);
  }

  40% {
    transform: scale(1.03) rotate(0);
  }
}

@keyframes blink {
  from {
    transform: translateX(-100%);
  }

  20%,
  100% {
    transform: translateX(100%);
  }
}
